@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #f3f5f5;
  color: #000000;
  font-family: "Lora", serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

.container {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.login {
  width: 700px;
  height: 400px;
  background-color: #e8ecef;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.login-box {
  width: 350px;
  height: 400px;
}

.login-left {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box img {
  width: 350px;
  height: auto;
}

.login-right {
  background-color: #098db3;
}

.login-title {
  text-align: center;
  margin: 40px;
  color: #ffffff;
}

.input-group {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.input-group-text {
  background-color: #ffffff;
  border: 0;
  border-radius: 0;
  width: 40px;
  height: 40px;
}

.fas {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button {
  background-color: #ffffff;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site {
  position: relative;
  word-wrap: break-word;
}

.site-header {
  background-color: #098db3;
  position: relative;
}

.site-banner {
  clear: none;
  font-size: 14px;
  line-height: 1.25;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 1.2px;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  text-transform: uppercase;
  color: #ffffff;
}

.navbar {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-light {
  background-color: #ffffff !important;
  border-color: transparent;
}

.navbar-toggler {
  border: none;
  width: 100%;
  float: none;
  margin-right: 0;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item {
  margin: 0 30px;
}

.navbar-light .navbar-nav .nav-item:last-child {
  margin: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  width: 50px;
  height: auto;
}

.site-title {
  clear: none;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 1.2px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  margin-left: 10px;
}

.carousel-item img {
  height: 525px;
  object-fit: cover;
}

.info {
  background: #ffffff;
  display: grid;
  place-items: center;
}

.info-title {
  margin-top: 40px;
}

.info-outside {
  padding: 20px;
  margin-bottom: 20px;
}

.info-box {
  background: #098db3;
  margin: 10px;
  width: 300px;
  height: 200px;
}

.info-box .fas {
  padding: 20px;
  color: #ffffff;
  font-size: 30px;
}

.info-box p {
  padding: 10px;
  padding-top: 0;
  text-align: center;
}

.contact {
  background-color: #098db3;
}

.contact-outside {
  padding-top: 20px;
  padding-bottom: 20px;
}

.contact-box {
  padding-left: 40px;
}

.contact-title {
  text-align: center;
  margin-bottom: 20px;
}

.contact-inside {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}

.contact-inside .fas {
  color: #ffffff;
  margin-top: 4px;
  font-size: 15px;
}

.contact-desc {
  margin-left: 20px;
}

.contact-desc .bottom {
  margin-top: 5px;
}

.form-box {
  padding-right: 40px;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-inside {
  padding: 10px;
}

.form-inside .btn {
  background-color: #ffffff !important;
  color: #000000;
}

footer {
  background: #ffffff;
  color: #000000;
}

.site-footer {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-img img {
  width: 350px;
  height: auto;
}

.footer-title {
  margin: 0 auto 20px;
  overflow: hidden;
  border-bottom: 1px solid #e2e2e2;
  padding-top: 20px;
}

.footer-title h2 {
  margin-bottom: 20px;
  font-size: 24px;
  letter-spacing: 0.5px;
  text-align: justify;
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .login {
    width: 300px;
    height: 630px;
    flex-direction: column;
  }

  .login-box {
    width: 300px;
    height: 315px;
  }

  .login-title {
    margin: 30px;
  }
}

@media screen and (min-width: 0) and (max-width: 576px) {
  .site-header {
    text-align: center;
  }

  .site-banner {
    padding: 0;
  }

  .navbar {
    padding: 0;
  }

  .navbar-brand {
    display: grid;
    place-items: center;
    margin: auto;
  }

  .navbar-light .navbar-nav .nav-item:last-child {
    margin: 0 30px;
  }

  .site-title {
    margin-top: 10px;
  }

  .navbar-toggler {
    margin-top: 10p;
  }
}

@media screen and (min-width: 576px) and (max-width: 1200px) {
  ul {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
}
